# ***Importing Libraries***

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# ***Importing File***

In [ ]:
df = pd.read_csv("h1n1_vaccine_prediction.csv")
df

       unique_id  h1n1_worry  ...  no_of_children  h1n1_vaccine
0              0         1.0  ...             0.0             0
1              1         3.0  ...             0.0             0
2              2         1.0  ...             0.0             0
3              3         1.0  ...             0.0             0
4              4         2.0  ...             0.0             0
...          ...         ...  ...             ...           ...
26702      26702         2.0  ...             0.0             0
26703      26703         1.0  ...             0.0             0
26704      26704         2.0  ...             0.0             0
26705      26705         1.0  ...             0.0             0
26706      26706         0.0  ...             0.0             0

[26707 rows x 34 columns]

In [ ]:
df['census_msa'].value_counts()

MSA, Not Principle  City    11645
MSA, Principle City          7864
Non-MSA                      7198
Name: census_msa, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  age_bracket                26707 non-null  object
 23  qualification              25300 non-null  object
 24  race                       26707 non-null  object
 25  sex                        26707 non-null  object
 26  income_level               22284 non-null  object
 27  marital_status             25299 non-null  object
 28  housing_status             24665 non-null  object
 29  employment                 25244 non-null  object
 30  census_msa                 26707 non-null  object
 31  no_of_adults               26458 non-null  float64
 32  no_of_children             26458 non-null  float64
 33  h1n1_vaccine               26707 non-null  int64
dtypes: float64(23), int64(2), object(9)
memory usage: 6.9+ MB

In [ ]:
df.columns

Index(['unique_id', 'h1n1_worry', 'h1n1_awareness', 'antiviral_medication',
       'contact_avoidance', 'bought_face_mask', 'wash_hands_frequently',
       'avoid_large_gatherings', 'reduced_outside_home_cont',
       'avoid_touch_face', 'dr_recc_h1n1_vacc', 'dr_recc_seasonal_vacc',
       'chronic_medic_condition', 'cont_child_undr_6_mnths',
       'is_health_worker', 'has_health_insur', 'is_h1n1_vacc_effective',
       'is_h1n1_risky', 'sick_from_h1n1_vacc', 'is_seas_vacc_effective',
       'is_seas_risky', 'sick_from_seas_vacc', 'age_bracket', 'qualification',
       'race', 'sex', 'income_level', 'marital_status', 'housing_status',
       'employment', 'census_msa', 'no_of_adults', 'no_of_children',
       'h1n1_vaccine'],
      dtype='object')

# ***One - Hot Encoding***

In [ ]:
add_col = pd.get_dummies(df['age_bracket'])
df.drop(['age_bracket'], axis = 1 ,inplace = True)
df = df.join(add_col)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  qualification              25300 non-null  object
 23  race                       26707 non-null  object
 24  sex                        26707 non-null  object
 25  income_level               22284 non-null  object
 26  marital_status             25299 non-null  object
 27  housing_status             24665 non-null  object
 28  employment                 25244 non-null  object
 29  census_msa                 26707 non-null  object
 30  no_of_adults               26458 non-null  float64
 31  no_of_children             26458 non-null  float64
 32  h1n1_vaccine               26707 non-null  int64
 33  18 - 34 Years              26707 non-null  uint8
 34  35 - 44 Years              26707 non-null  uint8
 35  45 - 54 Years              26707 non-null  uint8
 36  55 - 64 Years              26707 non-null  uint8
 37  65+ Years                  26707 non-null  uint8
dtypes: float64(23), int64(2), object(8), uint8(5)
memory usage: 6.9+ MB

In [ ]:
add_col = pd.get_dummies(df['race'])
df.drop(['race'], axis = 1 ,inplace = True)
df = df.join(add_col)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  qualification              25300 non-null  object
 23  sex                        26707 non-null  object
 24  income_level               22284 non-null  object
 25  marital_status             25299 non-null  object
 26  housing_status             24665 non-null  object
 27  employment                 25244 non-null  object
 28  census_msa                 26707 non-null  object
 29  no_of_adults               26458 non-null  float64
 30  no_of_children             26458 non-null  float64
 31  h1n1_vaccine               26707 non-null  int64
 32  18 - 34 Years              26707 non-null  uint8
 33  35 - 44 Years              26707 non-null  uint8
 34  45 - 54 Years              26707 non-null  uint8
 35  55 - 64 Years              26707 non-null  uint8
 36  65+ Years                  26707 non-null  uint8
 37  Black                      26707 non-null  uint8
 38  Hispanic                   26707 non-null  uint8
 39  Other or Multiple          26707 non-null  uint8
 40  White                      26707 non-null  uint8
dtypes: float64(23), int64(2), object(7), uint8(9)
memory usage: 6.7+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  sex                        26707 non-null  object
 23  income_level               22284 non-null  object
 24  marital_status             25299 non-null  object
 25  employment                 25244 non-null  object
 26  census_msa                 26707 non-null  object
 27  no_of_adults               26458 non-null  float64
 28  no_of_children             26458 non-null  float64
 29  h1n1_vaccine               26707 non-null  int64
 30  18 - 34 Years              26707 non-null  uint8
 31  35 - 44 Years              26707 non-null  uint8
 32  45 - 54 Years              26707 non-null  uint8
 33  55 - 64 Years              26707 non-null  uint8
 34  65+ Years                  26707 non-null  uint8
 35  Black                      26707 non-null  uint8
 36  Hispanic                   26707 non-null  uint8
 37  Other or Multiple          26707 non-null  uint8
 38  White                      26707 non-null  uint8
dtypes: float64(23), int64(2), object(5), uint8(9)
memory usage: 6.3+ MB

In [ ]:
df['employment'] = df['employment'].replace("None", np.nan)
df['employment'] = df['employment'].fillna("0")
add_col = pd.get_dummies(df['employment'])
df.drop(['employment'], axis = 1 ,inplace = True)
df = df.join(add_col)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  sex                        26707 non-null  object
 23  income_level               22284 non-null  object
 24  marital_status             25299 non-null  object
 25  census_msa                 26707 non-null  object
 26  no_of_adults               26458 non-null  float64
 27  no_of_children             26458 non-null  float64
 28  h1n1_vaccine               26707 non-null  int64
 29  18 - 34 Years              26707 non-null  uint8
 30  35 - 44 Years              26707 non-null  uint8
 31  45 - 54 Years              26707 non-null  uint8
 32  55 - 64 Years              26707 non-null  uint8
 33  65+ Years                  26707 non-null  uint8
 34  Black                      26707 non-null  uint8
 35  Hispanic                   26707 non-null  uint8
 36  Other or Multiple          26707 non-null  uint8
 37  White                      26707 non-null  uint8
 38  0                          26707 non-null  uint8
 39  Employed                   26707 non-null  uint8
 40  Not in Labor Force         26707 non-null  uint8
 41  Unemployed                 26707 non-null  uint8
dtypes: float64(23), int64(2), object(4), uint8(13)
memory usage: 6.2+ MB

# ***Label Encoding***

In [ ]:
#Encoding - To convert any alphabte data into numbers
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['sex'] = le.fit_transform(df['sex'])

df['census_msa'] = le.fit_transform(df['census_msa'])

df['income_level'] = df['income_level'].replace("None", np.nan)
df['income_level'] = df['income_level'].fillna(str(np.mean))
df['income_level'] = le.fit_transform(df['income_level'])

df['marital_status'] = df['marital_status'].replace("None", np.nan)
df['marital_status'] = df['marital_status'].fillna("0")
df['marital_status'] = le.fit_transform(df['marital_status'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  no_of_adults               26458 non-null  float64
 27  no_of_children             26458 non-null  float64
 28  h1n1_vaccine               26707 non-null  int64
 29  18 - 34 Years              26707 non-null  uint8
 30  35 - 44 Years              26707 non-null  uint8
 31  45 - 54 Years              26707 non-null  uint8
 32  55 - 64 Years              26707 non-null  uint8
 33  65+ Years                  26707 non-null  uint8
 34  Black                      26707 non-null  uint8
 35  Hispanic                   26707 non-null  uint8
 36  Other or Multiple          26707 non-null  uint8
 37  White                      26707 non-null  uint8
 38  0                          26707 non-null  uint8
 39  Employed                   26707 non-null  uint8
 40  Not in Labor Force         26707 non-null  uint8
 41  Unemployed                 26707 non-null  uint8
dtypes: float64(23), int64(6), uint8(13)
memory usage: 6.2 MB

In [ ]:
df['h1n1_worry'] = df['h1n1_worry'].replace("None", np.nan)
df['h1n1_worry'] = df['h1n1_worry'].fillna(0)
df['h1n1_worry'] = pd.to_numeric(df['h1n1_worry'])

df['h1n1_awareness'] = df['h1n1_awareness'].replace("None", np.nan)
df['h1n1_awareness'] = df['h1n1_awareness'].fillna(0)
df['h1n1_awareness'] = pd.to_numeric(df['h1n1_awareness'])

df['antiviral_medication'] = df['antiviral_medication'].replace("None", np.nan)
df['antiviral_medication'] = df['antiviral_medication'].fillna(0)
df['antiviral_medication'] = pd.to_numeric(df['antiviral_medication'])

df['contact_avoidance'] = df['contact_avoidance'].replace("None", np.nan)
df['contact_avoidance'] = df['contact_avoidance'].fillna(0)
df['contact_avoidance'] = pd.to_numeric(df['contact_avoidance'])

df['bought_face_mask'] = df['bought_face_mask'].replace("None", np.nan)
df['bought_face_mask'] = df['bought_face_mask'].fillna(0)
df['bought_face_mask'] = pd.to_numeric(df['bought_face_mask'])

df['wash_hands_frequently'] = df['wash_hands_frequently'].replace("None", np.nan)
df['wash_hands_frequently'] = df['wash_hands_frequently'].fillna(0)
df['wash_hands_frequently'] = pd.to_numeric(df['wash_hands_frequently'])

df['avoid_large_gatherings'] = df['avoid_large_gatherings'].replace("None", np.nan)
df['avoid_large_gatherings'] = df['avoid_large_gatherings'].fillna(0)
df['avoid_large_gatherings'] = pd.to_numeric(df['avoid_large_gatherings'])

df['reduced_outside_home_cont'] = df['reduced_outside_home_cont'].replace("None", np.nan)
df['reduced_outside_home_cont'] = df['reduced_outside_home_cont'].fillna(0)
df['reduced_outside_home_cont'] = pd.to_numeric(df['reduced_outside_home_cont'])

df['avoid_touch_face'] = df['avoid_touch_face'].replace("None", np.nan)
df['avoid_touch_face'] = df['avoid_touch_face'].fillna(0)
df['avoid_touch_face'] = pd.to_numeric(df['avoid_touch_face'])

df['dr_recc_h1n1_vacc'] = df['dr_recc_h1n1_vacc'].replace("None", np.nan)
df['dr_recc_h1n1_vacc'] = df['dr_recc_h1n1_vacc'].fillna(0)
df['dr_recc_h1n1_vacc'] = pd.to_numeric(df['dr_recc_h1n1_vacc'])

df['dr_recc_seasonal_vacc'] = df['dr_recc_seasonal_vacc'].replace("None", np.nan)
df['dr_recc_seasonal_vacc'] = df['dr_recc_seasonal_vacc'].fillna(0)
df['dr_recc_seasonal_vacc'] = pd.to_numeric(df['dr_recc_seasonal_vacc'])

df['chronic_medic_condition'] = df['chronic_medic_condition'].replace("None", np.nan)
df['chronic_medic_condition'] = df['chronic_medic_condition'].fillna(0)
df['chronic_medic_condition'] = pd.to_numeric(df['chronic_medic_condition'])

df['cont_child_undr_6_mnths'] = df['cont_child_undr_6_mnths'].replace("None", np.nan)
df['cont_child_undr_6_mnths'] = df['cont_child_undr_6_mnths'].fillna(0)
df['cont_child_undr_6_mnths'] = pd.to_numeric(df['cont_child_undr_6_mnths'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  no_of_adults               26458 non-null  float64
 27  no_of_children             26458 non-null  float64
 28  h1n1_vaccine               26707 non-null  int64
 29  18 - 34 Years              26707 non-null  uint8
 30  35 - 44 Years              26707 non-null  uint8
 31  45 - 54 Years              26707 non-null  uint8
 32  55 - 64 Years              26707 non-null  uint8
 33  65+ Years                  26707 non-null  uint8
 34  Black                      26707 non-null  uint8
 35  Hispanic                   26707 non-null  uint8
 36  Other or Multiple          26707 non-null  uint8
 37  White                      26707 non-null  uint8
 38  0                          26707 non-null  uint8
 39  Employed                   26707 non-null  uint8
 40  Not in Labor Force         26707 non-null  uint8
 41  Unemployed                 26707 non-null  uint8
dtypes: float64(23), int64(6), uint8(13)
memory usage: 6.2 MB

In [ ]:
df['is_health_worker'] = df['is_health_worker'].replace("None", np.nan)
df['is_health_worker'] = df['is_health_worker'].fillna(0)
df['is_health_worker'] = pd.to_numeric(df['is_health_worker'])

df['has_health_insur'] = df['has_health_insur'].replace("None", np.nan)
df['has_health_insur'] = df['has_health_insur'].fillna(0)
df['has_health_insur'] = pd.to_numeric(df['has_health_insur'])

df['is_h1n1_vacc_effective'] = df['is_h1n1_vacc_effective'].replace("None", np.nan)
df['is_h1n1_vacc_effective'] = df['is_h1n1_vacc_effective'].fillna(0)
df['is_h1n1_vacc_effective'] = pd.to_numeric(df['is_h1n1_vacc_effective'])

df['is_h1n1_risky'] = df['is_h1n1_risky'].replace("None", np.nan)
df['is_h1n1_risky'] = df['is_h1n1_risky'].fillna(0)
df['is_h1n1_risky'] = pd.to_numeric(df['is_h1n1_risky'])

df['sick_from_seas_vacc'] = df['sick_from_seas_vacc'].replace("None", np.nan)
df['sick_from_seas_vacc'] = df['sick_from_seas_vacc'].fillna(0)
df['sick_from_seas_vacc'] = pd.to_numeric(df['sick_from_seas_vacc'])

df['sick_from_h1n1_vacc'] = df['sick_from_h1n1_vacc'].replace("None", np.nan)
df['sick_from_h1n1_vacc'] = df['sick_from_h1n1_vacc'].fillna(0)
df['sick_from_h1n1_vacc'] = pd.to_numeric(df['sick_from_h1n1_vacc'])

df['is_seas_vacc_effective'] = df['is_seas_vacc_effective'].replace("None", np.nan)
df['is_seas_vacc_effective'] = df['is_seas_vacc_effective'].fillna(0)
df['is_seas_vacc_effective'] = pd.to_numeric(df['is_seas_vacc_effective'])

df['is_seas_risky'] = df['is_seas_risky'].replace("None", np.nan)
df['is_seas_risky'] = df['is_seas_risky'].fillna(0)
df['is_seas_risky'] = pd.to_numeric(df['is_seas_risky'])


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           26707 non-null  float64
 15  has_health_insur           26707 non-null  float64
 16  is_h1n1_vacc_effective     26707 non-null  float64
 17  is_h1n1_risky              26707 non-null  float64
 18  sick_from_h1n1_vacc        26707 non-null  float64
 19  is_seas_vacc_effective     26707 non-null  float64
 20  is_seas_risky              26707 non-null  float64
 21  sick_from_seas_vacc        26707 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  no_of_adults               26458 non-null  float64
 27  no_of_children             26458 non-null  float64
 28  h1n1_vaccine               26707 non-null  int64
 29  18 - 34 Years              26707 non-null  uint8
 30  35 - 44 Years              26707 non-null  uint8
 31  45 - 54 Years              26707 non-null  uint8
 32  55 - 64 Years              26707 non-null  uint8
 33  65+ Years                  26707 non-null  uint8
 34  Black                      26707 non-null  uint8
 35  Hispanic                   26707 non-null  uint8
 36  Other or Multiple          26707 non-null  uint8
 37  White                      26707 non-null  uint8
 38  0                          26707 non-null  uint8
 39  Employed                   26707 non-null  uint8
 40  Not in Labor Force         26707 non-null  uint8
 41  Unemployed                 26707 non-null  uint8
dtypes: float64(23), int64(6), uint8(13)
memory usage: 6.2 MB

In [ ]:

df['no_of_adults'] = df['no_of_adults'].replace("None", np.nan)
df['no_of_adults'] = df['no_of_adults'].fillna(np.mean)


df['no_of_children'] = df['no_of_children'].replace("None", np.nan)
df['no_of_children'] = df['no_of_children'].fillna(np.mean)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           26707 non-null  float64
 15  has_health_insur           26707 non-null  float64
 16  is_h1n1_vacc_effective     26707 non-null  float64
 17  is_h1n1_risky              26707 non-null  float64
 18  sick_from_h1n1_vacc        26707 non-null  float64
 19  is_seas_vacc_effective     26707 non-null  float64
 20  is_seas_risky              26707 non-null  float64
 21  sick_from_seas_vacc        26707 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  no_of_adults               26707 non-null  object
 27  no_of_children             26707 non-null  object
 28  h1n1_vaccine               26707 non-null  int64
 29  18 - 34 Years              26707 non-null  uint8
 30  35 - 44 Years              26707 non-null  uint8
 31  45 - 54 Years              26707 non-null  uint8
 32  55 - 64 Years              26707 non-null  uint8
 33  65+ Years                  26707 non-null  uint8
 34  Black                      26707 non-null  uint8
 35  Hispanic                   26707 non-null  uint8
 36  Other or Multiple          26707 non-null  uint8
 37  White                      26707 non-null  uint8
 38  0                          26707 non-null  uint8
 39  Employed                   26707 non-null  uint8
 40  Not in Labor Force         26707 non-null  uint8
 41  Unemployed                 26707 non-null  uint8
dtypes: float64(21), int64(6), object(2), uint8(13)
memory usage: 6.2+ MB

# ***Deleting Columns***

In [ ]:
del df['no_of_adults']
del df['no_of_children']

In [ ]:
del df['qualification']
del df['housing_status']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           26707 non-null  float64
 15  has_health_insur           26707 non-null  float64
 16  is_h1n1_vacc_effective     26707 non-null  float64
 17  is_h1n1_risky              26707 non-null  float64
 18  sick_from_h1n1_vacc        26707 non-null  float64
 19  is_seas_vacc_effective     26707 non-null  float64
 20  is_seas_risky              26707 non-null  float64
 21  sick_from_seas_vacc        26707 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  h1n1_vaccine               26707 non-null  int64
 27  18 - 34 Years              26707 non-null  uint8
 28  35 - 44 Years              26707 non-null  uint8
 29  45 - 54 Years              26707 non-null  uint8
 30  55 - 64 Years              26707 non-null  uint8
 31  65+ Years                  26707 non-null  uint8
 32  Black                      26707 non-null  uint8
 33  Hispanic                   26707 non-null  uint8
 34  Other or Multiple          26707 non-null  uint8
 35  White                      26707 non-null  uint8
 36  0                          26707 non-null  uint8
 37  Employed                   26707 non-null  uint8
 38  Not in Labor Force         26707 non-null  uint8
 39  Unemployed                 26707 non-null  uint8
dtypes: float64(21), int64(6), uint8(13)
memory usage: 5.8 MB

In [ ]:
df['h1n1_vaccinePred'] = df['h1n1_vaccine']
del df['h1n1_vaccine']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           26707 non-null  float64
 15  has_health_insur           26707 non-null  float64
 16  is_h1n1_vacc_effective     26707 non-null  float64
 17  is_h1n1_risky              26707 non-null  float64
 18  sick_from_h1n1_vacc        26707 non-null  float64
 19  is_seas_vacc_effective     26707 non-null  float64
 20  is_seas_risky              26707 non-null  float64
 21  sick_from_seas_vacc        26707 non-null  float64
 22  sex                        26707 non-null  int64
 23  income_level               26707 non-null  int64
 24  marital_status             26707 non-null  int64
 25  census_msa                 26707 non-null  int64
 26  18 - 34 Years              26707 non-null  uint8
 27  35 - 44 Years              26707 non-null  uint8
 28  45 - 54 Years              26707 non-null  uint8
 29  55 - 64 Years              26707 non-null  uint8
 30  65+ Years                  26707 non-null  uint8
 31  Black                      26707 non-null  uint8
 32  Hispanic                   26707 non-null  uint8
 33  Other or Multiple          26707 non-null  uint8
 34  White                      26707 non-null  uint8
 35  0                          26707 non-null  uint8
 36  Employed                   26707 non-null  uint8
 37  Not in Labor Force         26707 non-null  uint8
 38  Unemployed                 26707 non-null  uint8
 39  h1n1_vaccinePred           26707 non-null  int64
dtypes: float64(21), int64(6), uint8(13)
memory usage: 5.8 MB

# ***Dividing Data into X and y***

In [ ]:
from sklearn.model_selection import train_test_split # To split the data
X = df.iloc[: , :-1]
y = df.iloc[: ,-1:]

# ***Splitting Data into Train and Test***

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

print(X_train.shape) # 75% of 40
print(X_test.shape)  # 25% of 40
print(y_train.shape) 
print(y_test.shape)

(21365, 39)
(5342, 39)
(21365, 1)
(5342, 1)

# ***MOdule for Logistics Regression***

In [ ]:
from sklearn.linear_model import LogisticRegression # Machine Learning  MOdule for Logistics Regression
logistic_regression= LogisticRegression()

# ***Fitting Logistic Regression on Training Data***

In [ ]:
# You are Building the Model
logistic_regression.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# ***Testing***

In [ ]:
# Below you are going to compare the performance on training dataset 
# because this is on the model was 
pred_y_train = logistic_regression.predict(X_train)



pred_y_test =  logistic_regression.predict(X_test)

#pred_y_test # Predicted 0 or 1 on test data [25%]
print(pred_y_train) # Predicted 0 or 1 on test data [75%]

print(y_train)

[0 0 0 ... 1 1 1]
       h1n1_vaccinePred
18127                 0
21609                 0
15009                 0
13516                 0
15551                 0
...                 ...
13123                 0
19648                 0
9845                  1
10799                 0
2732                  0

[21365 rows x 1 columns]

# ***Accuracy, AUC_ROC Score***

In [ ]:
# Accuracy on test Data
from sklearn import metrics

print('Accuracy: ',metrics.accuracy_score(y_test, pred_y_test))
print('AUC_ROC SCORE: ) ',metrics.roc_auc_score(y_test, pred_y_test))

Accuracy:  0.8238487457880943
AUC_ROC SCORE: )  0.6741241979497012

In [ ]:
# Accuracy on train Data



print('Accuracy: ',metrics.accuracy_score(y_train, pred_y_train))

print('AUC_ROC SCORE: ) ',metrics.roc_auc_score(y_train, pred_y_train))

Accuracy:  0.8319213667212731
AUC_ROC SCORE: )  0.6797836581586587